  
 {% extends "layout.html"%}
 {% block content%}
      <h2>    Price page </h2>

   <div class="row">

                <br>

                  <div class="col-5" style="margin:1%;padding:5%;">
                      <form action="" method="post">

                    <div class="form-group">
                        <label for="price">Product</label>
                        <input type="text" name="price" class="form-control" id="price" placeholder="Enter name of product">
   <button type="submit" class="btn btn-primary">Submit</button>
                    </div>




                </form></div>

       <div class="col-6">  <img src="https://image.freepik.com/free-vector/discount-concept-illustration_114360-1852.jpg" alt="" style="z-index:-2;width:100%;position:absolute;top:10%;transform: translate(5%,-20%)"></div>

  </div>
{% endblock%}