  
 {% extends "layout.html"%}
 {% block content%}

  <img src="https://image.freepik.com/free-vector/search-concept-landing-page_52683-12193.jpg" style="margin-top:0;margin-left:10%;width:60%;z-index:-1;position:absolute;top:0">
 <h2>    Search page </h2>
                <form action="" method="post">
                <div class="form-group" style="position:relative;transform:translate(156%,740%); width: 280px;">

                        <input type="text" name="product" class="form-control" id="product" placeholder="Enter name of product"  width="18">

                    </div>


                    <button type="submit"  style="position:relative;transform:translate(460%,508%);" class="btn btn-primary">Submit</button>
                </form>
{% endblock%}