 {% extends "layout.html"%}
 {% block content%}


<div class="row">
    <div class="col-6" style="padding:10%; ">
                  <h3 style="margin-bottom:15%">  Price Result </h3>

 <h2> Lowest price is <span style="color: #1864ab">{{price}}</span> </h2>
<h4 style="color:#0c8599">  {{seller}}</h4>
    </div>
    <div class="col-6">
        <img src="https://img.freepik.com/free-vector/black-friday-sale-event-woman-characters-with-shopping-bags-cart-buying-some-item-big-discount-cashback_26350-100.jpg?size=626&ext=jpg" alt="">

    </div>
</div>



{% endblock%}
